doctype html
html(lang="en")
  head
    title="Jade Tools Template"
  body
  center
      h1 SER 421 Admin
  center
      h4 Surveys: #{totalSurveys}
      h4 Users: #{users}
      h4 To view details go to http://localhost:3000/user/:"userId"
      h4 Where "userId" is a valid name in the survey
      
  center
      form(method="GET",action="/logout")
        p
          button(type="submit") Logout
   
   
  