doctype html
html(lang="en")
  head
    title="Jade Tools Template"
  body
  center
      h1 SER 421 Admin
  center
      h4 Total Users: #{totalSurveys}
      h4 Users:
      ol
      -for(var i =0; i < Users.length; i++){
          li
            a(href="/user/:#{Users[i]}") #{Users[i]}
      -}
      
  center
      form(method="GET",action="/logout")
        p
          button(type="submit") Logout
   
   
  